openapi: 3.0.0
paths:
  /outages:
    get:
      summary: Returns all outages in our system.
      description: An outage is when a device can no longer provide service and is declared
        as offline. Each outage consists of a device ID, begin time, and end
        time.
      parameters: []
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Outages'
      tags: &ref_0
        - exercise
  /site-info/{siteId}:
    get:
      summary: Returns information about a specific site.
      description: The site information contains the ID and name of the site. It also
        contains a list of devices that make up the site.
      parameters:
        - name: siteId
          required: true
          in: path
          schema:
            type: string
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Outages'
      tags: *ref_0
  /site-outages/{siteId}:
    post:
      summary: Posts outages for a specific site with enhanced information.
      description: The outages posted should contain a device ID, device name, begin time,
        and end time.
      parameters:
        - name: siteId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnhancedOutages'
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Outages'
      tags: *ref_0
info:
  title: Interview Tests Mock API
  description: ''
  version: 1.0.0
  contact: {}
tags: []
servers:
  - url: https://api.krakenflex.systems/interview-tests-mock-api/v1
components:
  securitySchemes:
    X-API-KEY:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
    Outages:
      type: object
      properties: {}
    EnhancedOutages:
      type: object
      properties:
        id:
          type: object
          description: The device ID the outage pertains to
          example: 44c02564-a229-4f51-8ded-cc7bcb202566
        name:
          type: object
          description: The display name of the device the outage pertains to
          example: Battery 1
        begin:
          type: object
          description: Exersice begin date time
          example: '2022-01-01T00:00:00.000Z'
        end:
          type: object
          description: Exersice end date time
          example: '2022-01-02T12:01:59.123Z'
      required:
        - id
        - name
        - begin
        - end
security:
  - X-API-KEY: []